<div class="container">
  <h2 class="primary-page-header">Toxic Substances</h2>
  <app-stepper></app-stepper>
  <div class="row">
    <p>Toxic substances are all around us. They're in the food we eat, the water we drink, and the air we breathe. Many of these toxins are invisible to the naked eye, but they can have a major impact on our health. Just because you can't see them doesn't mean they're not there.</p>
    <p>There are many different types of toxic substances, but some of the most common are heavy metals. Heavy metals are found in many everyday items, such as:</p>
    <ul>
      <li>Canned food</li>
      <li>Cookware</li>
      <li>Paint</li>
      <li>Detergents</li>
      <li>Cosmetics</li>
      <li>Plastics</li>
    </ul>
    <p>So how can you read lethal dose measurements for these toxins? One of the most common measurement is the LD50 of a substance which is the dose required to kill 50% of the population. The lethal dose is different for every toxicant, and it also depends on the individual's health, age, and weight.</p>
    <p>Some substances are more harmful than others. For example, mercury is a heavy metal that can be found in fish. It can be an important consideration when choosing foods, clothes, and other items.</p>
  </div>
  <img alt="graphic depicting fish and toxins" src="assets/rect4.png">
</div>
