<div class="container">
  <h2 class="primary-page-header">Conclusion</h2>
  <app-stepper></app-stepper>
  <ng-container *ngIf="storyService.seenAll()">
    <div class="row">
      <div class="col-md-8 col-sm-12 religion-content">
        <h3 class="secondary-page-header">Thesis</h3>
        <p>Religion today is well established in our society. At their surfaces, our global religions seem very much different. However, at closer examination, there are three key factors to the spread and success of many religions.</p>
        <p>By utilizing <b>trade, empires, and/or conflict</b>, religions are able to effectively spread on a global scale. Without these three core influences, many of our modern religions would simply not exist.</p>

        <p>All religions have very interesting origins. While there certainly are exceptions to this "three spreading methods" rule, I find that it is followed extremely closely.</p>

        <h3 class="secondary-page-header">Trade</h3>
        <p>Trade is a extremely common pattern among the spread of religions. The Silk Road is a prime example of how religion can be quickly spread among large geographic regions.</p>

        <h3 class="secondary-page-header">Empires</h3>
        <p>If you have lots of people under control of your empire, chances are they will have to follow your religion.</p>
        <p>Prime examples of this include the Roman Empire and the Islamic caliphate's. If combined with the other two spreading methods, this will also serve as a catalyst for those.</p>

        <h3 class="secondary-page-header">Conflict</h3>
        <p>Conquering a region is the quickest way to convert the population as an entirely. This spreading method was a large contributor to the rapid expansion of the Islamic caliphate's.</p>
      </div>
      <div class="col-md-4 d-sm-none d-md-block note-cards">
        <app-sources-card [sources]="sources"></app-sources-card>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!storyService.seenAll()">
    <mdb-card>
      <mdb-card-body>
        <mdb-card-title>
          <h4>You're not ready yet!</h4>
        </mdb-card-title>
        <mdb-card-text>
          Please independently explore <b>{{ getDiffAsString() }}</b> before skipping to the conclusion!
        </mdb-card-text>

        <a routerLink="{{getLink().link}}" mdbBtn color="primary" mdbWavesEffect>Explore {{getLink().title}}</a>
      </mdb-card-body>
    </mdb-card>
  </ng-container>
</div>
