<div class="container">
  <h2 class="primary-page-header">Environmental Impact</h2>
  <app-stepper></app-stepper>
  <div class="row">
    <p>When it comes to your personal environmental impact, there are many things you can do to reduce it. Some of the most important things you can do are</p>
    <ul>
      <li>Reduce your energy consumption</li>
      <li>Conserve water</li>
      <li>Recycle and compost</li>
      <li>Avoid products with excessive packaging</li>
      <li>Buy local food when</li>
      <li>Support sustainable agriculture</li>
    </ul>
    <p>You can reduce your energy consumption by doing things like turning off lights when you leave a room, unplugging electronics when you're not using them, and using energy-efficient appliances. You can conserve water by fixing leaks, watering your plants during the cooler hours of the day, and using a rain barrel to collect rainwater. And you can recycle and compost by separating your trash into recyclables, compostables, and landfills.
      If you’re curious about your current environmental impact, <a href="http://www.footprintnetwork.org/en/index.php/GFN/page/calculators/">this</a> link will calculate your carbon footprint and give you personalized tips on how to reduce your footprint.</p>
  </div>
  <div class="column">
    <img alt="green food art" src="assets/i3.png">
    <img alt="welders" src="assets/i4.png">
    <img alt="image containing crates of food" src="assets/i5.png">
  </div>
</div>
