mdb-card {
  width: 100%;
  height: 40vh;

  h4 {
    padding: 1.25rem;
  }

  mdb-card-body {
    height: 100%;
    padding: 0;

    .title-sized {
      height: 22vh !important;
    }

    agm-map {
      height: 100%;
      width: 100%;
    }
  }
}
