<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
  <mdb-navbar-brand>
    <a class="navbar-brand" href="#">Alec Dusheck</a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" href="#" mdbWavesEffect>Introduction <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" href="#" mdbWavesEffect>Christianity</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" href="#" mdbWavesEffect>Islam</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" href="#" mdbWavesEffect>Buddhism</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" href="#" mdbWavesEffect>Summary</a>
      </li>
    </ul>
    <span class="navbar-text white-text">
            The spread of religion (250 BC – 750 AD)
        </span>
  </links>
</mdb-navbar>
