<div class="container">
  <h2 class="primary-page-header">Buddhism</h2>
  <app-stepper></app-stepper>
  <div class="row">
    <div class="col-md-8 col-sm-12 religion-content">
      <h3 class="secondary-page-header">The origins of Buddhism</h3>
      <p>Buddhism was founded by relatively unknown philosopher from India. Buddhism is unlike most religious as most of their followers are divided of small groups. As Jean Przyluski puts it, "It was a religion without clergy and without monasteries; small groups leading a wondering life" (Przyluski 341).</p>
      <p>As Buddhism began to slowly grew in followers, albeit at a slow rate due to the unique properties of the religion.</p>

      <h3 class="secondary-page-header">Aśoka and the Maurya Empire</h3>
      <p>Buddhism is a very peaceful religion. It places a high emphasis on self-reflection and philosophy. However, it was adapted by empires, in particular, the Maurya Empire. </p>
      <p>The Kaurya Empire has a bloody history of conquests for more control and land. Before embracing Buddhism, Emperor Aśoka was aligned with these ideals. However, after becoming exposed to (and converting) to Buddhism, his perspective changed. Aśoka pushed the Buddhist religion through his empire and gave it significant influence.</p>
      <img src="/assets/buddhism/sanchi.jpg" alt="Sanchi Temple Image">
      <p>The Kaurya Empire played a significant role in the further development of Buddhism, building multiple templates and giving the religion more exposure. Above is pictured the Sanchi Stupa. A famous Buddhist temple built by the Maurya Empire.</p>

      <h3 class="secondary-page-header">The Silk Road</h3>
      <p>Asd AsdAsdAsdAsdA sdAsdAsdAsdAsdA sdAsd AsdAsdAsdAs dAsdAsdA sdAsdAsdAsdAsdAs dAsdAsd</p>
      <p>Asd AsdAsdAsdAsdAsdAsdAsdAsdAsdA sdAsdAsdA sdAsdAs dAsdAsdAsdAsdAsdAsdAsd AsdAsdAsd</p>
      <p>Asd AsdAsdAs dAsdAsdAsdA sdAsdAsdA sdAsdAsdAsdAsdAs dAsdAsdA sdAsdAsdA sdAsdAsdAsdAsd</p>

      <h3 class="secondary-page-header">Conclusion 🎉</h3>
      <p>Asd AsdAsdAsdAsdA sdAsdAsdAsdAsdA sdAsd AsdAsdAsdAs dAsdAsdA sdAsdAsdAsdAsdAs dAsdAsd</p>
      <p>Asd AsdAsdAsdAsdAsdAsdAsdAsdAsdA sdAsdAsdA sdAsdAs dAsdAsdAsdAsdAsdAsdAsd AsdAsdAsd</p>
      <p>Asd AsdAsdAs dAsdAsdAsdA sdAsdAsdA sdAsdAsdAsdAsdAs dAsdAsdA sdAsdAsdA sdAsdAsdAsdAsd</p>
    </div>
    <div class="col-md-4 d-sm-none d-md-block note-cards">
      <app-sources-card [sources]="sources"></app-sources-card>
      <app-simple-card [props]="ashokaSpreadCard"></app-simple-card>
    </div>
  </div>
</div>
