<div class="container">
  <h2 class="primary-page-header">Food Choice</h2>
  <app-stepper></app-stepper>
  <div class="row">
    <p>When it comes to food, we are what we eat. It's important to be mindful of the choices we make and the impact they have on our health. There are many factors to consider when choosing food, such as:</p>
    <ul>
      <li>Nutrition</li>
      <li>Sustainability</li>
      <li>Animal welfare</li>
      <li>Environmental impact</li>
    </ul>
    <p>One consideration when choosing a specific food is whether to buy local. The answer for most foods is - it depends. However, there are some general guidelines that can be followed.</p>
    <p>In general, buying local food has many benefits. It supports farmers and businesses in your community, and it often tastes better since it's fresher. Local food is also more likely to be sustainably grown and harvested.</p>
    <p>However, there are some drawbacks to buying local food. It can be more expensive, and it may not be available year-round. You also have to be careful of seasonal variations. For example, local produce in the winter may not be as nutritious as produce that was grown in a different season.</p>
    <p>Another important consideration regarding food choice is whether to buy GMO foods. What are the drawbacks or benefits to buying GMO?</p>
    <p>GMO foods are made with genetically modified organisms. These organisms have been altered in a laboratory to have specific traits, such as resistance to herbicides or pests.</p>
    <p>There are many pros and cons to GMO foods. Some people argue that they are more nutritious and can help feed the world's growing population. Others argue that they may be harmful to our health and the environment.</p>
    <p>The decision of whether to buy GMO foods is a personal one. You'll need to consider the pros and cons for yourself and make the choice that's right for you.</p>
  </div>
  <div class="column">
    <img alt="farmers and signs" src="assets/rect5.png">
    <img alt="good food" src="assets/rect7.png">
  </div>
</div>
