<div class="container">
  <h2 class="primary-page-header">Islam</h2>
  <app-stepper></app-stepper>
  <div class="row">
    <div class="col-md-8 col-sm-12 religion-content">
      <h3 class="secondary-page-header">The origins of Islam</h3>
      <p>Unlike the other two religions, Islam is perhaps the most interesting due to the magnitude of spreading methods.</p>
      <p>Islam was heavily spread via all three spreading methods: <b>trade, empires, and conflict</b>.</p>

      <h3 class="secondary-page-header">Background on the Qur'an <mdb-badge default="true">Primary Source</mdb-badge></h3>
      <p>The Quran is perhaps the central source of religious text in Islam.</p>
      <img src="/assets/islam/quran.jpeg" alt="An image of the Quran">
      <p>In many passages of The Quran, there are references to Muhammad, who was a prophet and messenger. The Quran also encourages follows to spread Islam whenever possible.</p>
      <p>The Quran essentially designates a position of a ruler. Prior to his death, this was the Prophet Muhammad. This allowed for the interpretation of a ruler to rule over an Islamic state.</p>
      <p>In addition, the Quran shares some similarities with the Christian texts along a similar timeline.</p>

      <h3 class="secondary-page-header">What's a Caliphate?</h3>
      <p>Succeeding the death of the Prophet Muhammad, there was no established ruler to rule over Muslims. According to Dogan, there were four caliphs established after the death of Muhammad.</p>
      <p>A Caliphate is essentially an empire. With a general population and a leadership structure. Anyone born under the society would be raised under Islam.</p>

      <p>Due to the size and power of many of these caliphate's, they started conquering territory. This led to the rapid expansion of these Islamic empires. </p>

      <h3 class="secondary-page-header">Spread via trade</h3>
      <p>Similar to how <a routerLink="/buddhism">Buddhism</a> spread, Islam spread via Islamic traders along the Silk Road.</p>
      <p>According to Szostak, one of the driving factors behind the spread among traders was social polities in Islamic caliphate's. For example, "Leave these lands, which God has granted you as booty in the hands of their inhabitants, and impose on them a poll tax (jizya) to the extent that they can bear and divide the proceeds among the Muslims"</p>
      <p>There is evidence of Islamic traders traveling as far as China. Some of these even permanently settled in the region and further spread their religion.</p>

      <h3 class="secondary-page-header">Conclusion 🎉</h3>
      <p>Islam had been spread very strongly via <b>trade, empires, and conflict</b>. Perhaps this is the reason why one-third of the population on Earth is Islamic.</p>
      <p>Along with the success of the caliphate's came both the benefits of trade and war. This was something that was taken advantage greatly by its believers.</p>
    </div>
    <div class="col-md-4 d-sm-none d-md-block note-cards">
      <app-sources-card [sources]="sources"></app-sources-card>
      <app-map-card [mapMarkers]="mapMarkers" [title]="'Where did these events originate from?'"></app-map-card>
      <app-map-card [mapMarkers]="mapMarkersCaliphate" [title]="'Where were the four major caliphate\'s capitals?'"></app-map-card>
    </div>
  </div>
</div>
