<div class="container">
  <h2 class="primary-page-header">Islam</h2>
  <app-stepper></app-stepper>
  <div class="row">
    <div class="col-md-8 col-sm-12 religion-content">
      <h3 class="secondary-page-header">The origins of Islam</h3>
      <p>Content placeholder Content placeholder Content placeholder Content placeholder Content placeholder Content placeholder Content placeholder</p>
      <p>Content placeholder Content placeholder Content placeholder Content placeholder Content placeholder Content placeholder Content placeholder</p>
      <p>Content placeholder Content placeholder Content placeholder Content placeholder Content placeholder Content placeholder Content placeholder</p>

      <h3 class="secondary-page-header">Background on the Quran</h3>
      <p>Content placeholder Content placeholder Content placeholder Content placeholder Content placeholder Content placeholder Content placeholder</p>
      <p>Content placeholder Content placeholder Content placeholder Content placeholder Content placeholder Content placeholder Content placeholder</p>
      <p>Content placeholder Content placeholder Content placeholder Content placeholder Content placeholder Content placeholder Content placeholder</p>
    </div>
    <div class="col-md-4 d-sm-none d-md-block note-cards">
      <app-sources-card [sources]="sources"></app-sources-card>
    </div>
  </div>
</div>
