<div class="container">
  <h2 class="primary-page-header">Islam</h2>
  <app-stepper></app-stepper>
  <div class="row">
    <div class="col-md-8 col-sm-12 religion-content">
      <h3 class="secondary-page-header">The origins of Islam</h3>
      <p>Unlike the other two religions, Islam is perhaps the most interesting due to the magnitude of spreading methods.</p>
      <p>Islam was heavily spread via all three spreading methods: <b>trade, empires, and conflict</b>.</p>

      <h3 class="secondary-page-header">Background on the Qur'an <mdb-badge default="true">Primary Source</mdb-badge></h3>
      <p>Content placeholder Content placeholder Content placeholder Content placeholder Content placeholder Content placeholder Content placeholder</p>
    </div>
    <div class="col-md-4 d-sm-none d-md-block note-cards">
      <app-sources-card [sources]="sources"></app-sources-card>
    </div>
  </div>
</div>
