<div class="container">
  <h2 class="primary-page-header">Christianity</h2>
  <app-stepper></app-stepper>
  <div class="row">
    <div class="col-md-8 col-sm-12 religion-content">
      <h3 class="secondary-page-header">The origins of Christianity</h3>
      <p>Christianity is a very unique religion in terms of its origin and spread. As a religion mainly clustered in the European religions of the world, Christianity has a unique origin and spread compared to both Islam and Buddhism.</p>
      <p>The Roman Empire has a special role in the act of spreading Christianity.</p>

      <h3 class="secondary-page-header">What the Bible says <mdb-badge default="true">Primary Source</mdb-badge></h3>
      <p>The Bible discusses lots about the early spread of the religion. According to E.P Sanders, Paul was "often considered to be the most important person after Jesus in the history of Christianity" (Sanders).</p>
      <p>In Romans 1:1, the bible states that Paul was sent by god to "preach his good news". Indeed, his role was critical in the early days of Christianity. ("The Holy Bible")</p>

      <h3 class="secondary-page-header">Early days (pre-311 AD)</h3>
      <p>The early spread of Christianity was not simple. The religion was very appealing to romans. Perhaps due to this, there were many persecutions of Christians. However, the persecution under Roman Emperor Diocletian was the most severe.</p>
      <p>The emperor aimed to abolish Christianity and replace it with the Roman gods Jupiter and Herclues. The persecution extended to revoking the rights of Christians and forcing them to comply to conservative values (Frend 158).</p>

      <h3 class="secondary-page-header">Post 311 AD</h3>
      <p>In 380, the Roman Empire officially adopted Catholicism as the state religion. This decision Emperor Gratian was perhaps the act that solidified the presence of Christianity. ("Church and State Through the Centuries" 6)</p>
      <p>While Christianity was thriving in geographic locations other then the Roman Empire, this made Christianity the dominant religion in a large portion of early Europe.</p>

      <h3 class="secondary-page-header">Conclusion 🎉</h3>
      <p>Compared to other religions, <b>Christianity has a very strong footing in empire-based spreading</b>. As evidenced later in world history, Christianity has played a central role in many other empires as well.</p>
      <p>In my opinion, it is safe to regard empires (especially the Roman Empire) as key factors in the spread and success of Christianity</p>
    </div>
    <div class="col-md-4 d-none d-md-block d-lg-block note-cards">
      <app-sources-card [sources]="sources"></app-sources-card>
      <app-map-card [mapMarkers]="mapMarkers" [title]="'Where did these events originate from?'"></app-map-card>
    </div>
  </div>
</div>
