<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
  <mdb-navbar-brand>
    <a class="navbar-brand" routerLink="/">Your Impact</a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [ngClass]="{active: this.route === '/'}">
        <a class="nav-link waves-light" routerLink="/" mdbWavesEffect>Introduction</a>
      </li>
      <ng-container *ngFor="let topic of topics">
        <li class="nav-item" [ngClass]="{active: this.route === '/' + topic}">
          <a class="nav-link waves-light" [routerLink]="'/' + topic" mdbWavesEffect>{{ capitalize(topic) }}</a>
        </li>
      </ng-container>
      <li class="nav-item" [ngClass]="{active: this.route === '/summary'}">
        <a class="nav-link waves-light" routerLink="/summary" mdbWavesEffect>Summary</a>
      </li>
    </ul>
  </links>
</mdb-navbar>
