/* You can add global styles to this file, and also import other style files */

.primary-page-header {
  font-size: 2.7rem;
  font-weight: 500;

  padding-top: 5vh;
}

.secondary-page-header {
  font-size: 1.7rem;
  font-weight: 500;
}

.religion-content {
  padding-bottom: 10vh;

  & .secondary-page-header:not(:first-of-type) {
    padding-top: 2vh;
  }
}

.note-cards mdb-card,app-sources-card,app-map-card:not(:first-of-type) {
  margin-top: 5vh;
}

.card-no-edge {
  border-radius: 0 !important;
  border: 0 !important;
}
