<mdb-card style="background-image: url('/assets/home/water-ripples.jpg'); background-position: center">
  <div class="text-white text-center py-5 px-4 my-5">
    <div>
      <h2 class="card-title h1-responsive pt-3 mb-5 font-bold">Learn about the <b>surprisingly common</b> spread behind
        three core <b>Religions</b></h2>
      <p class="mx-5 mb-5">
        Religion today is well established in our society. However, the spread behind our religions wisdom is not. The
        aim of this project is to expose
        the common data-points connecting the spread and exposure given to three common religions: Christianity, Islam,
        and Buddhism.
      </p>
      <a mdbBtn color="white" outline="true" class="waves-light" mdbWavesEffect>
        <mdb-icon fas icon="book-reader" class="left"></mdb-icon>
        Start Learning
      </a>
    </div>
  </div>
</mdb-card>
<div class="container top-reasons">
  <div class="row text-header">
    <div class="col-12">
      <h1 class="text-center">Top reasons for spread</h1>
      <h5 class="text-center font-weight-light">Did you know: There are three common core reasons for the spread of
        religion?</h5>
    </div>
  </div>
  <div class="row" *ngIf="topReasons">
    <div class="col-md-4 col-sm-12" *ngFor="let reason of topReasons">
      <app-simple-card [props]="reason"></app-simple-card>
    </div>
  </div>
</div>
<div class="container map" *ngIf="mapMarkers">
  <div class="row text-header">
    <div class="col-12">
      <div class="row reasons-header">
        <div class="col-12">
          <h1 class="text-center">Origins</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="map-box">
    <app-map-card [mapMarkers]="mapMarkers"></app-map-card>
  </div>
</div>
